.Container {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 40px 4em;
    margin: 90px auto 0;
    max-width: 1200px;
}

.CustomStats {
    min-width: 310px;
    text-align: left;
}

.Label {
    font-size: 20px;
    font-weight: 500;
}

div.Label b {
    color: rgb(236, 39, 43);
    font-size: 50px;
}