.Container {
    margin-top: 120px;
}

.FlexCenter {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.HeadingContainer {
    position: relative;
    display: block;
    font-size: 2em;
    font-weight: normal;
}

.FlexBox {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Image {
    margin: 30px auto 0;
}