.UserMenuContainer {
    display: flex;
    align-items: center;
}

.ProfilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.DropdownWrapper svg{
    margin-right: 15px;
}
.NameHolder{
    font-weight: 500;
}