.DesktopSearchBoxWrapper {
    display: block;
}

.JobCount {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 500;
}

.Body {
    position: relative;
    display: flex;
    flex-flow: column;
}

@media (min-width: 1024px) {
    .Body {
        flex-flow: row;
        align-items: flex-start;
    }
}

.DesktopStickyFilterContainer {
    // position: relative;
    // top: 0;
    position: sticky;
    top: 94px;
    z-index: 1;
    display: block;
    min-width: 316px;
    max-height: calc(100vh - 118px);
    margin-right: 32px;
    border: 1px solid rgba(198, 198, 198, 0.6);
    border-radius: 4px;
    overflow-y: auto;
}

.Flex {
    width: 100%;
}