.GlintContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
    align-items: center;
    -webkit-box-align: center;
}

.Section {
    max-width: 450px;
}

.Title {
    margin-bottom: 30px !important;
    text-align: center;
}

.FormContainer {
    padding: 20px;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0.3rem;
    box-shadow: rgb(34 36 38 / 15%) 0px 1px 2px 0px;
}

.FieldError {
    margin-top: 5px !important;
}

.FieldDescription {
    margin-top: 5px !important;
}

.SubmitBtn {
    margin-top: 15px !important;
}