.ContentSection {
    border: 1px solid rgb(198, 198, 198);
    margin-bottom: 30px;
}

.ContentSectionTitle {
    padding: 12px 30px;
    background-color: rgb(243, 243, 243);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.ContentSectionMain {
    padding: 30px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
}