.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    text-align: center;
}

.Content {
    padding: 1.5rem;
}

.Icon {
    min-width: 56px;
    min-height: 56px;
    color: var(--primary-color);
    font-size: calc(1.625rem + 4.5vw);
}

.Code {
    font-size: calc(1.625rem + 4.5vw);
    font-weight: 500;
    line-height: 1.2;
}

.Title {
    margin-top: 5px;
    font-weight: normal;
}

.Description {
    margin-top: 15px;
}

.Button {
    justify-content: center;
    margin-top: 15px;
}

.Button a,
.Button a:visited {
    text-decoration: none;
    color: white;
}