.ButtonStyle__SolidBtnContainer {
    display: flex;
}

.ButtonStyle__Button {
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    cursor: pointer;
}

.ButtonStyle__SolidBtn {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    letter-spacing: 1px;
    min-width: 170px;
    /* text-transform: uppercase; */
    font-weight: bold;
    line-height: 1.5;
}

.ButtonStyle__SolidBtn:active {
    background-color: black;
}