.ButtonStyle__LinkBtn {
    padding: 0;
    color: rgb(1, 126, 183);
    background-color: transparent;
    font-size: 16px;
    line-height: 1.5;
}

.ButtonStyle__EndIconContainer {
    display: inline-flex;
    margin-left: 10px;
}