.others {
    position: relative;
    top: 80px;
    left: 230px;
    width: calc(100% - (270px));
    
    
}

.userContainer {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    width: 600px;
    position: relative;
    left: 205px;
    
    background-color: white;
    box-shadow: 0px 1px 15px lightgray;
    /* height: calc(97vh); */
    
}
.info1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

.btnEditUser {
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    padding: 6px 13px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    margin-right: 5px;
}

.adress {
    font-size: 16px;
    line-height: 30px;
}

.break {
    border-top: 1px solid #ada5a5;
    margin: 0px 22px;
}
.info2 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.iconUser {
    margin-right: 15px;
}

.salary {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.info3, .info4 {
    padding: 20px;
}

.desc {
    margin-bottom: 5px;
}
