.Search {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 242, 64);
    padding: 50px 20px;
}

.SectionHeader {
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;

    color: rgb(0, 0, 0);
    font-size: 22px;
    line-height: 28px;

}

.SectionSearchContainer {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
}