.Title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
    .Title {
        // margin-top: 60px;
        margin-top: 40px;
    }
}

.Wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

@media screen and (min-width: 1024px) {
    .Wrapper{
        flex-direction: row;
    }
}

.SidebarWrapper {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
}

@media screen and (min-width: 1024px) {
    .SidebarWrapper{
        width: 30%;
        margin-right: 30px;
        margin-bottom: 0;
    }
}
.ContentWrapper{
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .ContentWrapper{
        width: calc(70% - 30px);
        min-height: 200px;
        // min-height: 800px;
    }
}