.ContactInfo__Content {
    display: flex;
    flex-direction: column;
}

.UpdatePassword__Half {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.Label__Content {
    flex: 0 0 200px;
    align-self: flex-start;
    margin-top: 10px;
    //
    padding-left: 32px;
    padding-right: 32px;
    text-align: right;
}

.Lable__Title {
    font-size: 16px;
    font-weight: 500;
    vertical-align: baseline;
}

.Input__Container {
    display: flex;
    flex-direction: column;
    // flex-grow: 1;
    flex-basis: 355px;
    padding-right: 60px;
}

.Input__Container>div {
    width: 100%;
}

.Input__Container button {
    text-transform: capitalize;
}

.Uploader span {
    display: inline;
    color: rgb(0, 149, 246);
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.Uploader span:hover {
    color: rgb(0, 55, 107);
}