.ContactInfo__Content {
    display: flex;
    flex-direction: column;
}

.UpdatePassword__Half {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.Label__Content {
    flex: 0 0 200px;
    align-self: flex-start;
    margin-top: 10px;
}

.Lable__Title {
    font-size: 16px;
    font-weight: 500;
    vertical-align: baseline;
}

.Input__Container {
    display: flex;
    flex-direction: column;
    // flex-grow: 1;
    flex-basis: 355px;
    padding-right: 60px;
}

.Input__Container>div {
    width: 100%;
}

.Input__Container button {
    text-transform: capitalize;
}