.ScrollTopContainer {
    border-radius: 50%;
    background-color: var(--primary-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: all 0.8s linear 0s;
    scroll-behavior: smooth;
    z-index: 50;
}

a.ScrollTopContainer {
    color: #fff;
    text-decoration: none;
}

.ScrollTopContainer:active {
    box-shadow: 0 0 0 .25rem #009cff;
}