/* code theo glint, đặt tên như nó luôn */
@import url("./styles/CompactOpportunityCard.css");
@import url("./styles/ButtonStyle.css");
@import url("./styles/DropdownStyle.css");
@import url("./styles/styles.css");
@import url("./styles/TextFieldStyled.css");
@import url("./styles/TopFold.css");
@import url("./styles/SimilarJobsSection.css");
@import url("./styles/JobDescription.css");
@import url("./styles/Skills.css");

.Box__StyledBox {
    padding-bottom: 16px;
}

.BookmarkButton__ButtonWrapper {
    cursor: pointer;
}

.Flex__StyledFlex {
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
}

.IconStyle__VerticalCenteredSvg {
    vertical-align: middle;
}

.JobCard_JobCardContainer {
    width: 100%;
    height: 100%;
}

.JobCard__JobCardWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
}

.CheckMarkHotJobBadge__CheckMarkHotJobBadgeContainer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 12px;
    width: 86px;
    border-radius: 1.5px;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 3.5px;
    padding: 6px 8px;
    max-height: 25px;
    margin-bottom: 7px;
    background-color: rgb(255, 122, 0);
    color: white;
    position: relative;
    left: 20px;
}

.CheckMarkHotJobBadge__CheckMarkHotJobBadgeContainer span {
    margin-right: 7px;
    font-weight: 700;
}

.Large-Text {
    font-size: 18px;
}

.UnstyleButton {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.UnstyleButton svg {
    font-size: 20px;
}

.DividerStyle__DividerContainer {
    width: 100%;
    height: 1px;
    background: rgb(198, 198, 198);
}

.ApplyButton__ApplyButton .ButtonStyle__SolidBtn {
    border-radius: 0;
}

.BookmarkButton__ButtonWrapper {
    display: flex;
}

.BookmarkButton__BookmarkOutlineIcon {
    width: 20px;
    height: 20px;
}
