@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #017eb7;
    --menu-height: 70px;
}

html {
    font-size: 14px;
}

/* custome scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0d37a1;
}

body {
    font-family: 'Poppins', sans-serif;
    /* overflow-y: overlay; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom css */
input[type="password"]::-ms-reveal {
    display: none;
}