@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #017eb7;
    --menu-height: 70px;
}

html {
    font-size: 14px;
}

/* custome scrollbar */
html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: #f1f1f1;
}

html::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS */
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #757575;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 5px;
}

.fs-6 {
    font-size: 1rem !important
}

.mx-2 {
    margin-right: .5rem !important;
    margin-left: .5rem !important
}

.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important
}

.text-uppercase {
    text-transform: uppercase !important
}

.d-inline-flex {
    display: inline-flex !important
}

.justify-content-center {
    justify-content: center !important
}

.align-items-center {
    align-items: center !important
}

.dropdown-menu {
    position: absolute;
    display: none;
    z-index: 50;
    min-width: 8rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    text-align: left;
    list-style: none;
    padding: .5rem 0;
    margin: 0;
    color: #757575;
    background-color: #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-icon {
    transition: transform 0.5s;
}

.dropdown:hover .dropdown-icon {
    transform: rotate(180deg);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .6rem 1rem;
    text-decoration: none;
    clear: both;
    font-weight: 500;
    color: #212529;
    background-color: transparent;
    border: 0
}

.dropdown-item:hover {
    background-color: #ccc;
}

.heading-text {
    background-image: linear-gradient(to top, red, var(--primary-color) 10%, transparent 30%);
}

.large-text {
    font-size: 18px;
}

div.large-text {
    padding: 20px 20px 0;
    text-align: left;
}

input[type="password"]::-ms-reveal {
    display: none;
}