.Paragraph {
    margin: 0px;
    font-size: 14px;
    line-height: normal;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: rgb(0, 0, 0);
}