.Container {
    display: flex;
}

.Main {
    width: 770px;
}

.DividerContainer {
    margin-bottom: 24px;
}

.DesktopAside {
    margin-left: 48px;
    width: 352px;
}

.DesktopSimilarJobsWrapper {
    margin-bottom: 40px;
    margin-top: 32px;
}

.SkillsContainer {
    margin-bottom: 40px;
}

.JobDescriptionContainer {
    margin-bottom: 32px;
}