.Body {
    padding: 0px 20px 20px;
    background-color: rgb(255, 255, 255);
}

.ContentWrapper {
    margin-bottom: 20px;
}

.Field {
    display: flex;
    flex-flow: column;
}

.TextFieldContainer {
    position: relative;
    display: flex;
    flex-flow: row;
    margin-top: 20px;
    align-items: center;
}

.TextFieldInput {
    width: 100%;
    position: relative;
    padding: 13px 15px;
    // appearance: none;
}

.TextFieldInput:focus {
    outline-color: var(--primary-color);
}

.TextFieldInput::placeholder {
    color: transparent;
}

.TextFieldLabel {
    position: absolute;
    left: 16px;
    color: rgb(119, 119, 119);
    pointer-events: none;
}

.TextFieldInput:focus~.TextFieldLabel,
.TextFieldInput:not(:placeholder-shown)~.TextFieldLabel {
    padding: 0 5px;
    font-size: 12px;
    top: 1em;
    transform: translate3d(-10px, -20px, 0);
    transition: all 0.2s ease 0s;
    background: rgb(255, 255, 255);
}

.IconContainer {
    position: absolute;
    padding: 4px;
    right: 16px;
    cursor: pointer;
    user-select: none;
}

.ValidationError {
    margin-top: 5px;
    text-align: left;
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(236, 39, 43);
}

.ForgotPasswordLinkWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding-top: 10px;
}

.ForgotPasswordLink {
    color: rgb(1, 126, 183);
    font-size: 16px;
    margin-top: -16px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.ErrorMessage {
    padding: 16px 24px;
    margin: 16px 0px;
    background-color: rgb(255, 246, 246);
    border-radius: 4px;
    border: 1px solid rgb(224, 180, 180);
    color: rgb(159, 58, 56);
    text-align: left;
}

.MessageHeader {
    margin-bottom: 4px;
    color: inherit;
    font-weight: bold;
    font-size: 18px;
}

.SolidShadowContainer {
    position: relative;
    width: 100%;
    height: 42px;
}

.SolidShadowContainer::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(236, 39, 43);
    position: absolute;
    top: 5px;
    left: 5px;
}

.SolidShadowBtn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    color: aliceblue;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s ease 0s;
}

.SolidShadowBtn:hover {
    transform: translate(3px, 3px);
}

.SolidShadowBtn:active {
    background-color: black;
    transform: translate(5px, 5px);
}

.ContentWrapper {
    text-align: left;
}

.SignupLink {
    font-size: 16px;
    cursor: pointer;
}

.Highlight {
    color: rgb(1, 126, 183);
}

.Content {
    color: rgb(155, 155, 155);
    text-align: left;
}

.Content a {
    text-decoration: none;
    color: rgb(1, 126, 183);
}