.SuggestionDropdownContainer {
    position: relative;
}

.SuggestionDropdown {
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 /30%);
}

.SearchItemWrapper {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    padding: 8px;
    padding-inline-start: 0;
    cursor: pointer;
}

.SearchItemWrapper:hover{
    background-color: aliceblue;
}

.SearchItemWrapper svg {
    fill: var(--secondary-color);
    margin: 0 8px;
    opacity: 0.6;
}

.SuggestionItem {
    margin-left: 8px;
}